@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
	form{
		text-align: center;
		background-color: gray;
		padding:20px;
		margin:auto;
		width:fit-content;
		border-radius: 5px;
	}
	h1{
		text-align: center;
	}
	p{
		text-align: center;
	}
	body{
		background:url("background.jpg");
		background-size:cover;
		background-position:center;
		font-family: 'Shantell Sans', cursive;
	}
	input[type="name"]{
		margin:10px;
		padding:10px;
		border-style:solid;
		border-width: 3px;
		border-color: black;
	}
	input[type="email"]{
		margin:10px;
		padding:10px;
		border-style:solid;
		border-width: 3px;
		border-color: black;
	}
	textarea{
		margin:10px;
		padding:10px;
		border-style:solid;
		border-width: 3px;
		border-color: black;
	}
	input[type="Submit"]{
		background-color: green;
		border-width: 2px;
		font-family: 'Shantell Sans', cursive;
	}
	input[type="Reset"]{
		background-color: red;
		font-family: 'Shantell Sans', cursive;
	}
	h1{
		color:white;